.CardInfo {
    font-size: 12px;
}  

.CardInfo i {
    margin: 5px;
}  

.TeamName {
    margin-right: 7px;
    background: #d1d1d1;
    color: white;
    padding: 2px 5px;
}

.Date {
    color: #2196f3;
}