.VideosList {

}

.VideosList h3 {
        text-align: center;
        margin: 20px;
        color: #353535;
        font-weight: 300;
        font-size: 21px;
      
}

.VideoListItem {
    display: flex;
    border-bottom: 2px solid #d5d5d5;
    background: white;
}

.VideoListItem h2 {
   font-size: 13px;
   color: #525252;

}

.Left {
    background-size: cover !important;
}

.Left div {
    width: 90px;
    height: 90px;
    background-size: 40px !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background: url('/assets/images/play.png')
}

.Right {
    flex-grow: 1;
    padding: 10px;
}